<template>
    <p class="mb-1 text-sm text-white-900 hover:text-white text-center">© Copyright {{ currentYear }} Dashboard.lk | All Rights Reserved.</p>
</template>

<script lang="ts" setup>
import { ref } from 'vue'

const currentYear = ref<number>(new Date().getFullYear())
</script>
