<template>
  <!-- Breadcrumb -->
  <Breadcrumb breadcrumb="Custom Filter Experimental" />
</template>
<script lang="ts" setup>
import Breadcrumb from '../../partials/Breadcrumb-DocFlow.vue'
</script>
